@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
}
.myprofile-logo-image{
width:220px;
margin-bottom: 15px;
margin-right: 10px;
margin-left: 10px;
align-self: center;
}
@media screen and (min-width: 1000px) {
  .myprofile-logo-image{
    width:180px;
    }
}
.myprofile-sidebar-list{

list-style-type: none;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.myprofile-option-text {
 color: #000000;
 font-size: 18px;
 font-weight: 600;
 text-align: center;
 margin-top: 7px;
 padding: 10px;
}

@media screen and (min-width: 1000px) {
  .myprofile-option-text {
    font-size: 20px;
    padding: 5px;
   }
}
.myprofile-active-option {
background-color: #ffffff;
border-radius: 30px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
height:70px;
width:100%;
display:flex;
align-items: center;
}
.myprofile-option-text:hover {
color: rgb(44,82,164);
}
.myprofile-sidebar-listitem{
margin-top: 15px;
}
.myprofile-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(244,226,20);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;
}
@media screen and (min-width: 1000px) {
  .myprofile-sidebar{
    display: block;
  }
}
.myprofile-sidebar a {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.myprofile-sidebar a:hover {
  color: rgb(44,82,164);
}

.myprofile-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 1.5625rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}

.openbtn {
  font-size: 1.25rem;
  cursor: pointer;
  background-color: rgb(244,226,20);
  color: white;
  padding: 0.625rem 0.9375rem;
  border: none;
  transition: 0.125s;
  float: left;
  margin-right: 20px;
}
@media screen and (min-width: 901px) {
  .openbtn{
    display: none;
  }
}
.openbtn:hover {
  background-color: rgb(44,82,164);
}

#main {
  transition: margin-left 0.5s;
  padding: 1rem;
  width: calc(max-content + 0.5rem);
}

@media screen and (max-height: 28.125rem) {
  .myprofile-sidebar {
       padding-top: 0.9375rem;
  }
  .myprofile-sidebar a {
       font-size: 1.125rem;
  }
}

.myprofile-form-content {
padding-top: 10px;
flex-grow: 1;
padding-left: 40px;
}
.myprofile-title-div{
display: flex;
flex-direction: row;
}
@media screen and (max-width: 800px) {
.myprofile-title-div{
 display: block;
}
}
@media screen and (min-width: 801px) {
.myprofile-title-div{
 display: block;
}
}

.myprofile-title {
color: #707070;
font-size: 45px;
font-weight: 700;
}
@media screen and (min-width: 900px) {
.myprofile-title {
font-size: 60px;
}
}
.myprofile-title-span{
color: rgb(44,82,164);
font-size: 45px;
font-weight: 700;
}
@media screen and (min-width: 900px) {
.myprofile-title-span{
font-size: 60px;
}
}
.myprofile-title-div{
display: block;
}
@media screen and (max-width: 800px) {
.myprofile-title-div{
 display: block;
}
}
@media screen and (min-width: 801px) {
.myprofile-title-div{
 display: block;
}
}
.myprofile-profile-pic-div-top{
display: block;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
}
@media screen and (min-width: 800px) {
.myprofile-profile-pic-div-top{
 display: block;
 display: flex;
 justify-content: center;
 align-items: center;
 align-self: center;
}
}
.myprofile-rounded-box {
width: 150px;
height: 150px;
display: block;
margin: 0 auto;
margin-bottom: 20px;
}
.myprofile-outer {
width: 100% !important;
height: 100% !important;
max-width: 150px !important; /* any size */
max-height: 150px !important; /* any size */
margin: auto;
background-color: #6eafd4;
border-radius: 100%;
position: relative;
}
.myprofile-inner {
 background-color: #414141;
 width: 50px;
 height: 50px;
 border-radius: 100%;
 position: absolute;
 bottom: 0;
 right: 0;
}

.imyprofile-inner:hover {
 background-color: #000000;
}

.myprofile-inputfile {
opacity: 0;
overflow: hidden;
position: absolute;
z-index: 1;
width: 50px;
height: 50px;
}
.myprofile-inputfile + label {
font-size: 1.25rem;
text-overflow: ellipsis;
white-space: nowrap;
display: inline-block;
overflow: hidden;
width: 50px;
height: 50px;
pointer-events: none;
cursor: pointer;
line-height: 50px;
text-align: center;
}
.myprofile-inputfile + label svg {
fill: #fff;
}
.myprofile-profilepic{
border-radius: 50%;
width:50%;
height:50%;
}
@media screen and (min-width: 800px) {
.myprofile-profilepic{
 border-radius: 50%;
 width:30%;
 height:30%;
}
}
.myprofile-input-label{
font-weight: 600;
font-size: 20px;
}
@media screen and (max-width:900px){
.myprofile-input-label{
 font-size: 17px;
}
}
.myprofile-input-edit{
font-size: 18px;
color: rgb(5, 155, 255);
}
.myprofile-save-button-div{
display: flex;
justify-content: flex-end;
align-items: flex-end;
align-self: flex-end;
}
.myprofile-save-button{
border-radius: 30px;
border-width: 0px;
background-color: rgb(44,82,164);
color: rgb(244,226,20);
font-weight: bold;
font-size: 20px;
width:150px;
height:50px;
margin-top:10%;
margin-right: 20%;
margin-bottom:50%;
}
.myprofile-inputs{
display: block;
}
@media screen and (max-width: 800px) {
.myprofile-inputs{
 margin-top: 20px;
}
}
.myprofile-margin-input{
display: block;
}
@media screen and (min-width: 800px) {
.myprofile-margin-input{
 margin-top: 20px;
}
}
.closebtn{
margin-bottom: 10px;
}
.myprofile-page-container-big-screen{
  display: flex;
  flex-direction: row;
}
.myprofile-sidebar1{
  display: block;
  background-color: rgb(244,226,20);
  max-width: 35%;
}
@media screen and (max-width:900px){
  .myprofile-sidebar1{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(244,226,20);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
    display:flex;
    flex-direction: row;
  }
}
.myprofile-arrow1{
  padding: 10px;
  margin: 5px;
}
.myprofile-sidebar1 a {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #000000;
  display: block;
  transition: 0.3s;
}
.myprofile-sidebar1 a:hover {
  color: rgb(44,82,164);
}
.myprofile-sidebar1-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.myprofile-logo-image1{
  width:220px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
  margin-top: 10px;
}
