@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0px;
    color: black;
}

.myprofile-bg-container {
    height: 100vh;
    display: flex;
}

.myprofile-side-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: rgb(244,226,20);
    width: 230px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right: 0px;
}
@media screen and (min-width: 900px) {
  .myprofile-side-bar {
    width: 320px;
    height:100%;
  }
} 
@media screen and (max-width: 900px) {
  .myprofile-side-bar {
    display:none;
  }
} 
.myprofile-logo-image{
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}
.myprofile-options-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.myprofile-icon-div{
  display: inline;
  margin-left: 10%;
}
.myprofile-text-div{
  display: inline;
}

.myprofile-option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.myprofile-active-option {
    background-color: #ffffff;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.myprofile-option-text {
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 800;
    margin-left: 15px;
    text-align: center;
    margin-top: 7px;
}

.myprofile-form-content {
    padding-top: 20px;
    flex-grow: 1;
    padding-left: 40px;
}

.myprofile-title {
    color: #707070;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 800;
}
@media screen and (min-width: 900px) {
  .myprofile-title {
    font-size: 60px;
  }
}
.myprofile-title-span{
  color: rgb(44,82,164);
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 800;
}
@media screen and (min-width: 900px) {
  .myprofile-title-span{
    font-size: 60px;
  }
}
.myprofile-input-label{
  font-family: "Roboto";
  font-weight: 800;
  font-size: 20px;
}
.myprofile-input-edit{
  font-size: 18px;
  color: rgb(5, 155, 255);
}
.myprofile-input-gender{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.container{ 
  margin-top:40px;
}
.myprofile-inputs{
  display: block;
}
@media screen and (max-width: 800px) {
  .myprofile-inputs{
    margin-top: 20px;
  }
}
.myprofile-margin-input{
  display: block;
}
@media screen and (min-width: 800px) {
  .myprofile-margin-input{
    margin-top: 20px;
  }
}
.myprofile-gender-buttons{
  display: flex;
  flex-direction: column;
}

input[type=radio] {
  border: 0px;
  height:15px;
  width:15px;
}
input[type=text]{
  border-color: #000000;
}
.myprofile-save-button{
  border-radius: 30px;
  border-width: 0px;
  background-color: rgb(44,82,164);
  color: rgb(244,226,20);
  font-family: "roboto";
  font-weight: bold;
  font-size: 20px;
  width:150px;
  height:50px;
  margin-top:10%;
  margin-right: 20%;
  margin-bottom:50%;
}
.myprofile-save-button-div{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}
.myprofile-profilepic{
  border-radius: 50%;
  width:50%;
  height:50%;
}
@media screen and (min-width: 800px) {
  .myprofile-profilepic{
    border-radius: 50%;
    width:30%;
    height:30%;
  }
}
.myprofile-profile-pic-div-top{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@media screen and (min-width: 800px) {
  .myprofile-profile-pic-div-top{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.myprofile-menu-icon{
  display: none;
}
@media screen and (max-width: 800px) {
  .myprofile-menu-icon{
    display: flex;
    flex-direction: row;
    display:inline-block;
  }
}
@media screen and (min-width: 801px) {
  .myprofile-menu-icon{
    display: flex;
    flex-direction: row;
    display:inline-block;
  }
}
.myprofile-title-div{
  display: block;
}
@media screen and (max-width: 800px) {
  .myprofile-title-div{
    display: block;
  }
}
@media screen and (min-width: 801px) {
  .myprofile-title-div{
    display: block;
  }
}
.myprofile-menu-icon-div{
  display: block;
}

@media screen and (max-width: 800px) {
  .myprofile-menu-icon-div{
    display: block;
  }
}
@media screen and (min-width: 801px) {
  .myprofile-menu-icon-div{
    display: none;
  }
}


.myprofile-rounded-box {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.myprofile-outer {
  width: 100% !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  margin: auto;
  background-color: #6eafd4;
  border-radius: 100%;
  position: relative;
  }

.myprofile-inner {
  background-color: #414141;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.imyprofile-inner:hover {
  background-color: #000000;
}
.myprofile-inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}
.myprofile-inputfile + label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
.myprofile-inputfile + label svg {
    fill: #fff;
}
