@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto";
  background-color: #fff;
}
.ordersummary-container{
  height: 100vh;
  background-size: cover;
}
.ordersummary-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.ordersummary-content{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}

.ordersummary-content h1{
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 600;
  color: rgb(97, 97, 97);
}
@media screen and (max-width:800px){
  .ordersummary-content h1{
    font-size: 20px;
  }
}
@media screen and (max-width:500px){
  .ordersummary-content h1{
    font-size: 15px;
  }
}
.ordersummary-Address-dropdown{
  width: 50%;
  height:30px;
}
@media screen and (max-width:800px){
  .ordersummary-Address-dropdown{
    width: 40%;
    height:30px;
  }
}
@media screen and (max-width:500px){
  .ordersummary-Address-dropdown{
    width: 30%;
    height:20px;
  }
}
.ordersummary-location{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
}
.ordersummary-item-full-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ordersummary-item-full-details h1{
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 600;
  color: rgb(14, 14, 14);
}
@media screen and (max-width:500px){
  .ordersummary-item-full-details h1{
    font-size: 15px;
  }
}
.ordersummary-item-full-details p{
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}
@media screen and (max-width:500px){
  .ordersummary-item-full-details p{
    font-size: 10px;
  }
}
.ordersummary-item-full-details div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  flex-shrink: 3;
}
.orders-summary-button {
    color: #323f4b;
    background-color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    width: 35%;
    height: 50px;
    border-width: 0;
}
.order-summary-buttons-container{
  background-color: white;
  width: 140px;
}
@media screen and (max-width:500px){
  .order-summary-buttons-container{
    background-color: white;
    width: 100px;
  }
}
.order-summary-buttons-container hr{
  background-color: black;
  width: 1px;
  height: 20px;
}
.ordersummary-width-in-px{
  color: #323f4b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
.orders-summary-delivery-time{
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}
.orders-summary-placeorder{
  display: flex;
  justify-content: flex-end;
}
.ordersummary-price-details{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
.ordersummary-price-details div{
  justify-content: space-between;
}