@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto";
  background-color: #fff;
}
.modal-container{
  margin: 30px;
  height:100vh;
  width: 100%;
}
.address-modal-button{
  border-radius: 10px;
  border-width: 0px;
  height:60px;
  width:130px;
  font-family: "Roboto";
  font-size: 20px;
  color: #fff;
  background-color: rgb(40, 115, 255);
}
@media screen and (max-width:760px){
  .address-modal-button{
    height:45px;
    width:110px;
    font-size: 18px;
    margin-top:5px;
  }
}
.address-pincode-apply-btn{
  border-radius: 10px;
  border-width: 0px;
  height:40px;
  width:90px;
  font-family: "Roboto";
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 241, 40);
}
@media screen and (max-width:760px){
  .address-pincode-apply-btn{
    height:25px;
    width:70px;
    font-size: 10px;
    margin-top:10px;
  }
}

.modal-body{
  display: flex;
  flex-direction: column;
}
.address-modal-pincode{
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
@media screen and (max-width:760px){
  .address-modal-pincode{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 10px;
  }
}
.address-modal-input-field{
  width:80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  display: inline;
}
@media screen and (max-width:850px){
  .address-modal-input-field{
    width:70%;
  }
}
.modal-input-and-button{
  display:block;
  display:flex;
  flex-direction: row;
}
@media screen and (max-width:850px){
  .modal-input-and-button{
    display: flex;
    flex-direction:column;
  }
}
.modal-input-field-box{
  display: flex;
  flex-direction: column;
  display:inline;
  margin-right: 0px;
}
.modal-submit-and-button{
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
@media screen and (max-width:850px){
  .modal-submit-and-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
